body {
  padding: 50px;
  background-color: #66ccff;
}

button {
  margin-left: 10px;
}

li {
  margin-top: 5px;
  display: flex;
}

li:hover {
  background-color: #96dcfe;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

li:hover > .logo {
  color: #2ffd30;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
}

input {
  width: 100%;
  margin-bottom: 25px;
  height: 40px;
  padding-left: 17px;
}

form {
  display: flex;
}

.logo {
  align-self: center;
  font-size: 18px;
  padding-left: 10px;
  color: #dedede;
}
