body {
  padding: 50px;
  background-color: #66ccff;
}

button {
  margin-left: 10px;
}

li {
  margin-top: 5px;
  margin-right: 10%;
}

li:hover {
  background-color: #96dcfe;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}
